<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/application/main.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header class="app-header"><a class="app-header__logo" href="index.html">ProjektX</a>
		<!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
			aria-label="Hide Sidebar"></a>
		<!-- Navbar Right Menu-->
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/img/user.png" alt="User Image">
			<div>
				<p id="username" class="app-sidebar__user-name"></p>
				<p class="app-sidebar__user-designation">{{username}}</p>
				<script>var userID= "{{userID}}"</script>
			</div>
		</div>
		<ul class="app-menu">
			<li><a class="app-menu__item" href="dashboard"><i class="app-menu__icon fa fa-dashboard"></i>
					<spanclass="app-menu__label">Dashboard</span>
				</a></li>
			<li><a class="app-menu__item" href="/logout"><i class="app-menu__icon fa fa-sign-out"></i>
					<spanclass="app-menu__label">Logout</span>
				</a></li>
		</ul>
	</aside>
	<main class="app-content">
		<div class="app-title">
			<div>
				<h1><i class="fa fa-dashboard"></i> ProjektX</h1>
				<p>Start a beautiful journey here</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div id="my-devices" class="tile-title-w-btn">
						<h3 class="title">All Devices</h3>
						<p><button id="btn-add" class="btn btn-primary icon-btn"><i class="fa fa-plus"></i>Add
								Device</button></p>
					</div>
				</div>
			</div>
		</div>
		<div class="device-row row">
			<!-- <div class="col-md-6">
				<div class="tile appliance-tile">
					<div class="tile-title-w-btn">
						<b>Room Name</b>
						<b>Device MAC</b><br><br>
						<p><button class="btn btn-primary icon-btn btn-appliance-add"><i class="fa fa-plus"></i>Appliance</button></p>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Light One</b><br><br>
							<div class="toggle-flip">
								<label>
									<input type="checkbox"><span class="flip-indecator" data-toggle-on="ON"
										data-toggle-off="OFF"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</main>
	<script src="js/shared/jquery-3.2.1.min.js"></script>
	<script src="js/shared/popper.min.js"></script>
	<script src="js/shared/bootstrap.min.js"></script>
	<script src="js/shared/main.js"></script>
	<script src="js/plugins/pace.min.js"></script>
	<script src="js/shared/sweetalert.min.js"></script>
	<script src="js/plugins/bootbox.all.js"></script>
	<script src="js/plugins/bootbox.js"></script>
	<script src="js/application/dashboard.js"></script>
</body>

</html>